* {
    box-sizing: border-box;
}

/* element selector */
/* ref : colorhunt.co */
/* Mobile / HP */

body {
    background-color: #7469B6;
}

/* css tablet */
@media screen and (min-width: 600px) {
    body {
        background-color: salmon;
    }

    .col-sm-6 {
        width: 50%;
        float: left;
        background-color: #FCDC2A;
        margin: 0 0;
    }

    .clear {
        clear: both;
    }

    .col-sm-12 {
        width: 100%;
        background-color: #FCDC2A;
    }
}

/* css desktop */
@media screen and (min-width: 992px) {
    body {
        background-color: green;
    }

    .col {
        width: 25%;
        background-color: yellow;
        float: left;
        margin: 0 0;
    }

    .col2 {
        width: 33.33%;
        background-color: yellow;
        float: left;
        margin: 0 0;
    }

    .pemandangan {
        width: 50%;
        float: left;
    }

    .pemandagan-img {
        width: 100%;
        height: 100px;
        border-radius: 2%;
    }

    .mdp {
        width: 50%;
        float: left;
        background-color: black;
    }

    .mdp-img {
        width: 100%;
        height: 95.5px;
        border-radius: 2%;
    }

    .pemandangan {
        width: 50%;
        float: left;
    }
}

/* class selektor */

.img-responsive {
    width: 200px;
    height: 200px;
}


.footer {
    margin: 5px 0;
}









.text-center {
    text-align: center;
}

.bg-primary {
    background-color: #FCDC2A;
}

.rounded {
    border-radius: 20%;
}

.img-rounded {
    border-radius: 50% 50% 0 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}